.login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;
  height: 100Vh;
  background-color: black;
}

.login > img {
  width: 70%;
}

.login > a {
  padding: 20px;
  border-radius: 500px;
  background-color: #1fdf64;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: 100ms;
  cursor: pointer;
}

.login > a:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .login > img {
    width: 100%;
  }
}

@media only screen and (max-width: 260px) {
  .login > a {
    padding: 20px;
    border-radius: 500px;
    background-color: #1fdf64;
    letter-spacing: 2px;
    font-size: 0.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: 100ms;
    cursor: pointer;
  }
}
