.app {
  background-color: rgb(80, 40, 240);
  background-image: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #949494;
  border: 0px none #ffffff;
  border-radius: 11px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777777;
}
::-webkit-scrollbar-thumb:active {
  background: #666666;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}
::-webkit-scrollbar-corner {
  background: transparent;
}